body {
    background: #2A3344;
    color: #f4f4f4;
}

}

.movie--card {
    cursor: pointer;
}

.movie--poster {
    background: linear-gradient(180deg, rgba(2, 0, 36, .9) 0%, rgba(255, 255, 255, 0) 63%);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
