body {
    background: #2A3344;
    color: #f4f4f4;
}

.accordion-button:focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}

.movie--card {
    cursor: pointer;
}

.movie--poster {
    background: linear-gradient(180deg, rgba(2, 0, 36, .9) 0%, rgba(255, 255, 255, 0) 63%);
}

.movie--details {
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 1) inset;
}